* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.container {
  text-align: center;
  margin-top: 30px;
}

.container-inner {
  list-style: none;
  margin: 0;
}

.element {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  padding: 0 20px;
  background-color: tomato;
  color: white;
  font-size: 20px;
  font-weight: 700;
  opacity: 0.8;
}

.element.active {
  opacity: 1;
}

.example {
  padding: 30px;
  background: #4e4949;
  color: white;
}

.tab-container {
  width: calc(100% - 40px);
  background-color: tomato;
  color: white;
  margin: 0 auto;
}

.container.js-has-scroll + .tab-container {
  width: 100%;
}
