
.optimal-gaps-container {
  overflow-x: auto;
  overflow-y: hidden;
}

.optimal-gaps-container-inner {
  display: inline-flex;
  width: max-content;
  padding: 0 var(--side-paddings);
}

.optimal-gaps-element {
  flex-shrink: 0;
  margin-right: var(--initial-gap);
}

.optimal-gaps-element:last-child {
  margin-right: 0;
}

.js-has-scroll .optimal-gaps-element {
  --initial-gap: var(--optimal-gap);
}